@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You will explore much more content here in the future.</p>
</div>
<style>
    body {
        background-image: url(https://img.freepik.com/premium-photo/row-clothes-rack-with-yellow-shirt-right_664644-55.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Playfair Display', serif;
        color: white;
    }

    h1 {
    font-family: 'Raleway', sans-serif;
        margin-bottom: 45px;
        font-size: 104px !important;
        font-weight: 600 !important;
    }
    p{
        font-size: 40px;
    }
</style>
